<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>techNIEks</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="/static/css/base.css">
   <link rel="stylesheet" href="/static/css/main.css">
   <link rel="stylesheet" href="/static/css/vendor.css">
   <link rel="stylesheet" href="/static/css/table.css">


   <!-- script
   ================================================== -->
	<script src="/static/js/modernizr.js"></script>
	<script src="/static/js/pace.min.js"></script>

   <!-- favicons
	================================================== -->
	<link rel="icon" type="image/png" href="favicon.png">

</head>

<body id="top">

	<!-- header
   ================================================== -->
   <header>
   	<div class="row">

   		<div class="top-bar" >
   			<a class="menu-toggle" href="#"><span></span></a>

   				<div class="logo menu-toggle">
		         <a href=""><h2 style="color: white;">MENU</h2></a>
		      </div>


		   	<!-- <nav id="main-nav-wrap">
					<ul class="main-navigation">
						<li class="current"><a class="smoothscroll"  href="#intro" title="">Home</a></li>
            <li><a href="/events" title="">Events</a></li>
            <li><a class="smoothscroll"  href="#scoreboard" title="">Scoreboard</a></li>
            <li><a class="smoothscroll"  href="#about" title="">Contact</a></li>
						<li><a class="smoothscroll"  href="#about" title="">About</a></li>
					</ul>
				</nav> -->
          {% include 'nav.html' %}
   		</div> <!-- /top-bar -->

   	</div> <!-- /row -->
   </header> <!-- /header -->

	<!-- intro section
   ================================================== -->
   <section id="intro">

   	<div class="intro-overlay"></div>

   	<div class="intro-content">
   		<div class="row">

   			<div class="col-twelve">

          <center>
	   			     <img src="static/images/technieks.png" style="width:400px;">
          </center>

	   			<a class="button stroke smoothscroll" href="#about" title="">More About Us</a>

	   		</div>

   		</div>
   	</div> <!-- /intro-content -->

   	<ul class="intro-social">
         <li><a href="https://www.facebook.com/technieks"><i class="fa fa-facebook"></i></a></li>
         <!-- <li><a href="#"><i class="fa fa-behance"></i></a></li> -->
         <li><a href="#"><i class="fa fa-twitter"></i></a></li>
         <!-- <li><a href="#"><i class="fa fa-dribbble"></i></a></li> -->
         <li><a href="https://www.instagram.com/technieks_2018/"><i class="fa fa-instagram"></i></a></li>
         <li><a href="https://www.youtube.com/channel/UC0Ky30GAIfdtGccczVNUIqA"><i class="fa fa-youtube"></i></a></li>

      </ul> <!-- /intro-social -->

   </section> <!-- /intro -->


   <!-- about section
   ================================================== -->
   <section id="about">

   	<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>About</h5>
   			<h1>The Endless Energy.</h1>

   			<div class="intro-info">



   				<p style="font-size:1em;">techNIEks is a 3-Day national level techno-cultural extravaganza organized by NIE.
          One of its idiosyncrasies is that, it is celebrated with unique themes every year.
          This time, we have decided to emphasize on the massive potential embedded within us.
          And hence the theme, "Oorja- The endless energy", we invite you to support us and
          celebrate the energy for brighter future and brighter ourselves. The expected footfall
          for three day festival is about 20,000.</p>
          <a class="button stroke smoothscroll" href="/about" title="">Read More</a>
   			</div>
   		</div>
   	</div> <!-- /section-intro -->


   </section> <!-- /process-->


   <!-- resume Section
   ================================================== -->
	<section id="resume" class="grey-section" style="display:none;">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Major Events</h5>
   			<h1>The three days of Joy.</h1>

   			<p class="lead">Lorem ipsum Do commodo in proident enim in dolor cupidatat adipisicing dolore officia nisi aliqua incididunt Ut veniam lorem ipsum Consectetur ut in in eu do.</p>

   		</div>
   	</div> <!-- /section-intro-->

   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>Work Experience</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">

   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>UI Designer</h3>
	   					<p>July 2015 - Present</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Awesome Studio</h4>
	   					<p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur nisi cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est occaecat nisi.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Front-end Developer</h3>
	   					<p>July 2014 - June 2015</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Super Cool Agency</h4>
	   					<p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur nisi cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est occaecat nisi incididunt.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Web Designer</h3>
	   					<p>May 2013 - June 2014</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Great Designs Studio</h4>
	   					<p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur nisi cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est occaecat nisi incididunt.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

   			</div> <!-- /timeline-wrap -->

   		</div> <!-- /col-twelve -->

   	</div> <!-- /resume-timeline -->

   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>Education</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">

   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Master Degree</h3>
	   					<p>July 2015 - Present</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>University of Life</h4>
	   					<p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur nisi cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est occaecat nisi.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Bachelor Degree</h3>
	   					<p>July 2014 - June 2015</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>State Design University</h4>
	   					<p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur nisi cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est occaecat nisi incididunt.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Bachelor Degree</h3>
	   					<p>May 2013 - June 2014</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Design College</h4>
	   					<p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur nisi cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est occaecat nisi incididunt.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

   			</div> <!-- /timeline-wrap -->

   		</div> <!-- /col-twelve -->

   	</div> <!-- /resume-timeline -->

	</section> <!-- /features -->


	<!-- Portfolio Section
   ================================================== -->
	<section id="portfolio">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Past Sponsors</h5>
   			<h1>Special Thanks</h1>

   			<!-- <p class="lead">Lorem ipsum Do commodo in proident enim in dolor cupidatat adipisicing dolore officia nisi aliqua incididunt Ut veniam lorem ipsum Consectetur ut in in eu do.</p> -->

   		</div>
   	</div> <!-- /section-intro-->

   	<div class="row portfolio-content">

   		<div class="col-twelve">

   			<!-- portfolio-wrapper -->
	         <div id="folio-wrapper" class="block-1-3 block-mob-full stack">

	         	<div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="/static/images/portfolio/KikkeriNarayanFoundation.jpg" alt="Liberty">
	                  <a href="#modal-01" class="overlay">
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
		     					       <h3 class="folio-title">Liberty</h3>
		     					    	 <span class="folio-types">
		     					       	  Graphic Design
		     					       </span>
		     					   </div>
	                     </div>
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->

	        		<div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="static/images/portfolio/channel.jpg  " alt="Shutterbug">
	               	<a href="#modal-02" class="overlay">
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Shutterbug</h3>
		     					    	<span class="folio-types">
		     					       	  Web Design
		     					      </span>
		     					   </div>
	                     </div>
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->

	            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="static/images/portfolio/IndianOil.jpg"alt="Clouds">
	                  <a href="#modal-03" class="overlay">
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Clouds</h3>
		     					    	<span class="folio-types">
		     					       	  Web Design
		     					      </span>
		     					   </div>
	                     </div>
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->

	            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="static/images/portfolio/graviti.jpg" alt="Beetle">
	                  <a href="#modal-04" class="overlay">
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Beetle</h3>
		     					    	<span class="folio-types">
		     					       	  Branding
		     					      </span>
		     					   </div>
	                     </div>
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->

	        		<div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="static/images/portfolio/sangam.jpg" alt="Lighthouse">
	                  <a href="#modal-05" class="overlay">
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Lighthouse</h3>
		     					    	<span class="folio-types">
		     					       	  Web Development
		     					      </span>
		     					   </div>
	                     </div>
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->

	            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="static/images/portfolio/SyndicateBank.png" alt="Salad">
	                  <a href="#modal-06" class="overlay">
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Salad</h3>
		     					    	<span class="folio-types">
		     					       	  Branding
		     					      </span>
		     					   </div>
	                     </div>
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->

              <div class="bgrid folio-item">
                 <div class="item-wrap">
                  <img src="static/images/portfolio/tequip.jpg" alt="Salad">
                    <a href="#modal-06" class="overlay">
                       <div class="folio-item-table">
                        <div class="folio-item-cell">
                          <h3 class="folio-title">Salad</h3>
                        <span class="folio-types">
                            Branding
                        </span>
                     </div>
                       </div>
                    </a>
                 </div>
              </div> <!-- /folio-item -->

              <div class="bgrid folio-item">
                 <div class="item-wrap">
                  <img src="static/images/portfolio/mahalakshmi.png" alt="Salad">
                    <a href="#modal-06" class="overlay">
                       <div class="folio-item-table">
                        <div class="folio-item-cell">
                          <h3 class="folio-title">Salad</h3>
                        <span class="folio-types">
                            Branding
                        </span>
                     </div>
                       </div>
                    </a>
                 </div>
              </div> <!-- /folio-item -->

              <div class="bgrid folio-item">
                 <div class="item-wrap">
                  <img src="static/images/portfolio/tcs.png" alt="Salad">
                    <a href="#modal-06" class="overlay">
                       <div class="folio-item-table">
                        <div class="folio-item-cell">
                          <h3 class="folio-title">Salad</h3>
                        <span class="folio-types">
                            Branding
                        </span>
                     </div>
                       </div>
                    </a>
                 </div>
              </div> <!-- /folio-item -->


	            <!-- modal popups - begin
	            ============================================================= -->
	            <div id="modal-01" class="popup-modal slider mfp-hide">

				     	<div class="media">
				     		<img src="static/images/portfolio/modals/m-liberty.jpg" alt="" />
				     	</div>

					   <div class="description-box">
					      <h4>Liberty</h4>
					      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

					      <div class="categories">Web Development</div>
					   </div>

			         <div class="link-box">
			            <a href="http://www.behance.net">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>

				   </div> <!-- /modal-01 -->

				   <div id="modal-02" class="popup-modal slider mfp-hide">

				     	<div class="media">
				     		<img src="static/images/portfolio/modals/m-shutterbug.jpg" alt="" />
				     	</div>

					   <div class="description-box">
					      <h4>Shutterbug</h4>
					      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

					      <div class="categories">Web Design</div>
					   </div>

			         <div class="link-box">
			            <a href="http://www.behance.net">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>

				   </div> <!-- /modal-02 -->

				   <div id="modal-03" class="popup-modal slider mfp-hide">

				     	<div class="media">
				     		<img src="images/portfolio/modals/m-clouds.jpg" alt="" />
				     	</div>

					   <div class="description-box">
					      <h4>Clouds</h4>
					      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

					      <div class="categories">Web Design</div>
					   </div>

			         <div class="link-box">
			            <a href="http://www.behance.net">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>

				   </div> <!-- /modal-03 -->

				   <div id="modal-04" class="popup-modal slider mfp-hide">

				     	<div class="media">
				     		<img src="images/portfolio/modals/m-beetle.jpg" alt="" />
				     	</div>

					   <div class="description-box">
					      <h4>Beetle</h4>
					      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

					      <div class="categories">Branding</div>
					   </div>

			         <div class="link-box">
			            <a href="http://www.behance.net">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>

				   </div> <!-- /modal-04 -->

				   <div id="modal-05" class="popup-modal slider mfp-hide">

				     	<div class="media">
				     		<img src="images/portfolio/modals/m-lighthouse.jpg" alt="" />
				     	</div>

					   <div class="description-box">
					      <h4>Lighthouse</h4>
					      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

					      <div class="categories">Web Development</div>
					   </div>

			         <div class="link-box">
			            <a href="http://www.behance.net">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>

				   </div> <!-- /modal-05 -->

				   <div id="modal-06" class="popup-modal slider mfp-hide">

				     	<div class="media">
				     		<img src="images/portfolio/modals/m-salad.jpg" alt="" />
				     	</div>

					   <div class="description-box">
					      <h4>Salad</h4>
					      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

					      <div class="categories">Branding</div>
					   </div>

			         <div class="link-box">
			            <a href="http://www.behance.net">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>

				   </div> <!-- /modal-06 -->


				   <!-- modal popups - end
	            ============================================================= -->

	         </div> <!-- /portfolio-wrapper -->

   		</div>  <!-- /twelve -->

   	</div> <!-- /portfolio-content -->

	</section> <!-- /portfolio -->


	<!-- CTA Section
   ================================================== -->
	<section id="cta" class="grey-section">

<div id="scoreboard" class="section-intro">
   	<!-- <div class="row cta-content"> -->
   		<h5>Sports</h5>
   		<h1>Score Board</h1>
   	</div>
   <div class="body1">
<table class="container">
	<thead>
		<tr>
			<th>Sports</th>
			<th>MECH</th>
			<th>IP</th>
			<th>CVIL</th>
			<th>IS</th>
			<th>CSE</th>
			<th>EEE</th>
			<th>ECE</th>
		</tr>
	</thead>
	<tbody>
		{% for row in data %}
		<tr>
			{% for x in row%}
			<td>{{ x }}</td>
			{% endfor %}
		</tr>
		{% endfor %}

	</tbody>
</table>

</div>


   		<!-- <div class="col-twelve section-ads">

	     		<h2 class="h01"><a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">Styleshout Recommends Dreamhost.</a></h2>

		      <p class="lead">
		      Looking for an awesome and reliable webhosting? Try <a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT"><span>DreamHost</span></a>.
				Get <span>$50 off</span> when you sign up with the promocode <span>styleshout</span>.

				</p>

				<div class="action">
			      <a class="button button-primary large" href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">Sign Up Now</a>
		      </div>

   		</div> -->

   	<!-- </div> /cta-content -->

   </section> <!-- /cta -->


	<!-- services Section
   ================================================== -->
	<!-- <section id="services">

		<div class="overlay"></div>

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Services</h5>
   			<h1>What Can I Do For You?</h1>

   			<p class="lead">Lorem ipsum Do commodo in proident enim in dolor cupidatat adipisicing dolore officia nisi aliqua incididunt Ut veniam lorem ipsum Consectetur ut in in eu do.</p>

   		</div>
   	</div> --> <!-- /section-intro -->

   	<!-- <div class="row services-content">

   		<div id="owl-slider" class="owl-carousel services-list">

	      	<div class="service">

	      		<span class="icon"><i class="icon-earth"></i></span>

	            <div class="service-content">

	            	 <h3>Webdesign</h3>

		            <p class="desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
	         		</p>

	         	</div>

				</div> --> <!-- /service -->

				<!-- <div class="service">

					<span class="icon"><i class="icon-window"></i></span>

	            <div class="service-content">

	            	<h3>Web Development</h3>

		            <p class="desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
	         		</p>

	            </div>

			   </div> --> <!-- /service -->

			   <!-- <div class="service">

			   	<span class="icon"><i class="icon-paint-brush"></i></span>

	            <div class="service-content">

	            	<h3>Branding</h3>

		            <p class="desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
	        			</p>

	            </div>

			   </div>  --><!-- /service -->

				<!-- <div class="service">

					<span class="icon"><i class="icon-toggles"></i></span>

	            <div class="service-content">

	            	<h3>UI/UX Design</h3>

		            <p class="desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
	         		</p>

	            </div>

				</div> --> <!-- /service -->

			  <!--  <div class="service">

			   	<span class="icon"><i class="icon-image"></i></span>

	            <div class="service-content">

	            	<h3>Graphics Design</h3>

		            <p class="desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
	        			</p>

	            </div>

			   </div> --> <!-- /service -->

			   <!-- <div class="service">

			   	<span class="icon"><i class="icon-chat"></i></span>

	            <div class="service-content">

	            	 <h3>Consultancy</h3>

		            <p class="desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
	        			</p>

	            </div>

			   </div> --> <!-- /service -->

	      <!-- </div> --> <!-- /services-list -->

   	<!-- </div>  --><!-- /services-content -->

	</section> <!-- /services -->


	<!-- stats Section
   ================================================== -->
	<section id="stats" class="count-up">

		<div class="row">
			<div class="cols-one">



					<div class="bgrid stat" style="float:none; margin:10px auto;">

						<img src="static/images/technieks.png" width="180px">

						<h3 class="stat-count2" id="cdown">
							1500
						</h3>

						<h5 class="stat-title">
							Days to go
						</h5>

					</div> <!-- /stat -->


			</div> <!-- /twelve -->
		</div> <!-- /row -->

	</section> <!-- /stats -->


{% include 'footer.html' %}

   <div id="preloader">
    	<div id="loader"></div>
   </div>

   <!-- Java Script
   ================================================== -->
   <script src="/static/js/jquery-2.1.3.min.js"></script>
   <script src="/static/js/plugins.js"></script>
   <script src="/static/js/main.js"></script>


   <script>
   // Set the date we're counting down to
   var countDownDate = new Date("Mar 8, 2018 07:30:25").getTime();

   // Update the count down every 1 second
   var x = setInterval(function() {

     // Get todays date and time
     var now = new Date().getTime();

     // Find the distance between now an the count down date
     var distance = countDownDate - now;

     // Time calculations for days, hours, minutes and seconds
     var days = Math.floor(distance / (1000 * 60 * 60 * 24));
     var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
     var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
     var seconds = Math.floor((distance % (1000 * 60)) / 1000);

     // Display the result in the element with id="demo"
     document.getElementById("cdown").innerHTML = days + "d " + hours + "h "
     + minutes + "m " + seconds + "s ";

     // If the count down is finished, write some text
     if (distance < 0) {
       clearInterval(x);
       document.getElementById("demo").innerHTML = "EXPIRED";
     }
   }, 1000);
   </script>




</body>

</html>
